/*Importar fuente en google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*Dar estilo a la pagina general restableciendo margin y padding, y fuentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none
}

/*Dar tamaño y colo a los contenidos*/
main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}

/*Dar forma a los articulos*/
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: white;
}

/*Dar forma a las letras de los articulos*/
article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300px;
}

